.excalidraw .App-menu__left {
  display: none !important;
}

.excalidraw .App-toolbar{
  display: none !important;
}

.excalidraw .layer-ui__wrapper .zen-mode-transition{
  display: none !important;
}

/* Hide scrollbars cleanly across all modern browsers */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
